.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialoguesItems {
    padding: 10px;
    color: whitesmoke;
}

.dialoguesItems .active {
    color: black;
}

.messages{
    padding: 10px;
}

.messages .messages {
    color: whitesmoke;
}